RewriteEngine On

RewriteRule ^login$ login.php [L]
RewriteRule ^lockscreen$ lockscreen.php [L]
RewriteRule ^logout$ login.php?act=logout [L]
RewriteRule ^Home$ index.php?p=Home [L]
RewriteRule ^PengirimanKain$ index.php?p=PengirimanKain [L]
RewriteRule ^CheckStock$ index.php?p=CheckStock [L]
RewriteRule ^CheckStockBS-$ index.php?p=CheckStockBS [L]
RewriteRule ^CheckStockBS-([a-zA-Z0-9_-]+)$ index.php?p=CheckStockBS&id=$1 [L]
RewriteRule ^LotTransaction$ index.php?p=LotTransaction [L]
RewriteRule ^CheckSN$ index.php?p=CheckSN [L]
RewriteRule ^BongkaranKain$ index.php?p=BongkaranKain [L]
RewriteRule ^DataUpload$ index.php?p=DataUpload [L]
RewriteRule ^AddUpload$ index.php?p=AddUpload [L]
RewriteRule ^StockBalance$ index.php?p=StockBalance [L]
RewriteRule ^MutasiKain$ index.php?p=MutasiKain [L]
RewriteRule ^PersediaanKain$ index.php?p=PersediaanKain [L]
RewriteRule ^PersediaanKainItem$ index.php?p=PersediaanKainItem [L]
RewriteRule ^PersediaanKainZone$ index.php?p=PersediaanKainZone [L]
RewriteRule ^PersediaanKainDetail$ index.php?p=PersediaanKainDetail [L]
RewriteRule ^MasukKain$ index.php?p=MasukKain [L]
RewriteRule ^MasukKainLot$ index.php?p=MasukKainLot [L]
RewriteRule ^KeluarKain$ index.php?p=KeluarKain [L]
RewriteRule ^PersediaanKainBSZone$ index.php?p=PersediaanKainBSZone [L]
RewriteRule ^DelUpload-([a-zA-Z0-9_-]+)$ index.php?p=DelUpload&id=$1 [L]
RewriteRule ^DelUploadBS-([a-zA-Z0-9_-]+)$ index.php?p=DelUploadBS&id=$1 [L]
RewriteRule ^UploadData-$ index.php?p=UploadData [L]
RewriteRule ^UploadData-([a-zA-Z0-9_-]+)$ index.php?p=UploadData&id=$1 [L]
RewriteRule ^UploadDataBS-$ index.php?p=UploadDataBS [L]
RewriteRule ^UploadDataBS-([a-zA-Z0-9_-]+)$ index.php?p=UploadDataBS&id=$1 [L]
RewriteRule ^UbahStatus$ index.php?p=Edit_Status [L]
RewriteRule ^DetailOpname-$ index.php?p=DetailOpname[L]
RewriteRule ^DetailOpname-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpname&tgl=$1 [L]
RewriteRule ^DetailOpnamed11-$ index.php?p=DetailOpnamed11[L]
RewriteRule ^DetailOpnamed11-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnamed11&tgl=$1 [L]
RewriteRule ^DetailOpnameBB-$ index.php?p=DetailOpnameBB[L]
RewriteRule ^DetailOpnameBB-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnameBB&tgl=$1 [L]
RewriteRule ^DetailOpnameBB1-$ index.php?p=DetailOpnameBB1[L]
RewriteRule ^DetailOpnameBB1-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnameBB1&tgl=$1 [L]
RewriteRule ^DetailKainBB-$ index.php?p=DetailKainBB[L]
RewriteRule ^DetailKainBB-([a-zA-Z0-9_-]+)$ index.php?p=DetailKainBB&tgl=$1 [L]
RewriteRule ^DetailOpnameShift1-$ index.php?p=DetailOpnameShift1[L]
RewriteRule ^DetailOpnameShift1-([a-zA-Z]+)-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnameShift1&tipe=$1&tgl=$2 [L]
RewriteRule ^DetailOpnameShift2-$ index.php?p=DetailOpnameShift2[L]
RewriteRule ^DetailOpnameShift2-([a-zA-Z]+)-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnameShift2&tipe=$1&tgl=$2 [L]
RewriteRule ^DetailOpnameShift3-$ index.php?p=DetailOpnameShift3[L]
RewriteRule ^DetailOpnameShift3-([a-zA-Z]+)-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnameShift3&tipe=$1&tgl=$2 [L]
RewriteRule ^DelOpname-([a-zA-Z0-9_-]+)$ index.php?p=DelOpname&tgl=$1 [L]
RewriteRule ^DelDetailKainBB-([a-zA-Z0-9_-]+)$ index.php?p=DelDetailKainBB&tgl=$1 [L]
RewriteRule ^DelInHarian-([a-zA-Z0-9_-]+)$ index.php?p=DelInHarian&tgl=$1 [L]
RewriteRule ^DelOutHarian-([a-zA-Z0-9_-]+)$ index.php?p=DelOutHarian&tgl=$1 [L]
RewriteRule ^DetailInHarian-$ index.php?p=DetailInHarian[L]
RewriteRule ^DetailInHarian-([a-zA-Z0-9_-]+)$ index.php?p=DetailInHarian&tgl=$1 [L]
RewriteRule ^DetailOutHarian-$ index.php?p=DetailOutHarian[L]
RewriteRule ^DetailOutHarian-([a-zA-Z0-9_-]+)$ index.php?p=DetailOutHarian&tgl=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?p=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?p=$1 [L]



Options All -Indexes
